.nav {
    background-color: var(--element-color);
    color: var(--txt-color);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Nunito Sans", sans-serif;
    position: fixed;
    width: calc(100% - 80px);


    .title {
        font-size: 20px;
        font-weight: bold;
    }

    .darkMode {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        gap: 7px;
        cursor: pointer;
        user-select: none;
    }
}

@media (max-width: 778px) {
    .nav {
        font-size: 14px;
        height: 40px;

        .title {
            font-size: 15px;
        }
    }
}